{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block head %}
<style type="text/css">
    section:not(first-child) {
        margin-top: 15px;
    }
    section:last-child {
        margin-bottom: 30px;
    }
    td:last-child, th:last-child {
        text-align: right;
    }
    form {
        margin-top: 30px;
        margin-bottom: 25px;
    }
    .bigger {
        font-size: medium;
    }
    h4 {
        font-weight: 400;
    }
    th {
        font-weight: normal;
    }
    td, h5 {
        font-weight: 300;
    }
</style>
{% endblock %}
{% block content %}
<div class="page-title-wrapper">
    <div class="page-title-tag indigo indigo-text">_</div>
    <div class="page-title white">{{ team.name }}</div>
</div>
<section>
  <div class="row">
    <div class="col s12">
      <div class="card blue darken-1">
        <div class="card-content white-text">
          <span class="card-title">Team key: <code>{{ team.key }}</code></span>
          <p>Share this with your teammates, and keep it in a safe place.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="row">
    <div class="col s12 m6">
        <div class="card">
            <div class="card-header teal">
                Team
            </div>
            <div class="card-content">
                <p>Your score is currently {{ team_score }}. <a href="{{ url_for('challenges.index') }}">Go solve more challenges!</a></p>
                {{ team.affiliation }}.</p>
                <p>Your team is currently marked {{ "eligible" if team.eligible() else "ineligible" }}.</p>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="card">
            <div class="card-header purple">Edit Information</div>
            <div class="card-content">
                <form method="POST">
                    <div class="input-field">
                        <label for="team-name">Team Name</label>
                        <input required maxlength="50" id="team-name" name="team_name" type="text" value="{{ team.name }}" />
                    </div>
                    <div class="input-field">
                        <label for="affiliation">Affiliation</label>
                        <input required maxlength="100" id="affiliation" name="team_affiliation" type="text" value="{{ team.affiliation }}" />
                    </div>
                    <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}" />
                    <br /><br />
                    <button class="btn waves-effect waves-light right" type="submit">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="card">
        <div class="card-header green">Members</div>
        <div class="card-content">
          <div class="row">
            <div class="col s10 offset-s1">
              <table>
                <thead>
                  <tr>
                    <th>Username</th>
                    <th>Eligibility Status</th>
                  </tr>
                </thead>
                <tbody>
                  {% for member in team.members %}
                  <tr>
                    <td>{{ member.username }}</td>
                    <td>{{ "Eligible" if member.eligible() else "Ineligibile" }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="card">
        <div class="card-header orange">Score Calculation</div>
        <div class="card-content">
            {% if team_solves.count() %}
            <h5>Solved problems</h5>
            <div class="row">
                <div class="col s10 offset-s1">
                    <table>
                        <thead>
                            <tr><th>Name</th><th>Category</th><th>Time</th><th>Value</th></tr>
                        </thead>
                        <tbody>
                            {% for solve in team_solves %}
                            <tr>
                                <td>{{ solve.challenge.name }}</td>
                                <td>{{ solve.challenge.category }}</td>
                                <td><abbr class="time" title="{{ solve.time }}">{{ solve.time }}</abbr></td>
                                <td>{{ solve.challenge.points }}</td>
                                {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% else %}
            <p>No problems have been solved.</p>
            {% endif %}
            {% if team_adjustments.count() %}
            <h5>Score adjustments</h5>
            <div class="row">
                <div class="col s10 offset-s1">
                    <table>
                        <thead>
                            <tr><th>Reason</th><th>Value</th></tr>
                        </thead>
                        <tbody>
                            {% for adj in team_adjustments %}
                            <tr>
                                <td>{{ adj.reason }}</td>
                                <td>{{ adj.value }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% else %}
            <p>No score adjustments have been made.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
