body {
    background: #f2f2f2;
}

.status-dot {
    display: inline-block;
}

.side-nav {
    background: #f2f2f2;
    box-shadow: none;
}

.side-nav a {
    cursor: pointer;
    height: 50px;
    line-height: 50px;
}

.status-dot {
    height: 28px;
    width: 28px;
    position: absolute;
    margin-top: 7px;
}

.challenge-text {
    margin-left: 50px;
    display: inline-block;
}

.side-nav.fixed {
  top: 69px;
}

.side-icon {
    position: absolute;
    margin-top: 13px;
    margin-left: -15px;
}

.side-text {
  margin-left: 26px;
}

.collapsible-body {
  background: white;
}

.cont {
    padding-left: 280px;
    padding-right: 40px;
}

.top-logo {
    height: 50px;
    margin-left: 18px;
    margin-top: 8px;
}

.check-icon {
    margin-right: 0 !important;
    margin-left: 8px !important;
}

.check-pad {
    width: 33px;
    display: inline-block;
}

.no-bot {
    margin-bottom: 0;
}

.flag-submit {
    width: 100%;
    margin-top: 20px;
}

.flag-form {
    padding-left: 14px;
    padding-right: 14px;
}

.form-title
{
    font-weight: 300;
    font-size: 2rem;
}

.panel {
    padding: 2rem;
}

.register-submit {
    margin-top: 35px;
}

/* MEDIUM */
@media only screen and (max-width : 992px) {
    .cont {
        padding-left: 40px;
    }

    .top-logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
    }
}

/* SMALL */
@media only screen and (max-width : 600px) {
    .register-submit {
        margin-top: 0;
    }
}


/* V -- DELETE MAYBE -- V */

.light-blue {
    background-color: rgb(0, 138, 255) !important;
}

.light-blue-text {
    color: rgb(0, 138, 255) !important;
}

.dark-blue {
    background-color: rgb(49, 78, 97) !important;
}

.dark-blue-text {
    color: rgb(49, 78, 97) !important;
}

.brand-logo {
    width: 150px;
    height: 50px;
    line-height: 0;
    position: absolute;
    top: 50%;
    margin-top: -25px;
}

.competition-page .navbar-fixed > nav {
    background-color: rgb(0, 138, 255) !important;
}

@media (max-width: 450px) {
    nav ul a {
        font-size: 0.9rem;
        padding: 0 10px;
    }
}
