<html>
    <head>
        <title>{{ config.ctf_name }} Admin &ndash; {% block title %}Home{% endblock %}</title>
        {% if config.cdn %}
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.9.0/vis.min.css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        {% else %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='materialize.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='icons.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vis.min.css') }}" />
        {% endif %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename=config.custom_stylesheet) }}" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        {% block head %}{% endblock %}
    </head>
    <body class="admin-page">
        {% if "admin" in session %}
        <div class="navbar-fixed">
            <nav class="red darken-3">
                <div class="container">
                    <div class="nav-wrapper">
                        <ul class="left hide-on-med-and-down">
                            <li><a href="{{ url_for('admin.admin_dashboard') }}">Dashboard</a></li>
                            <li><a href="{{ url_for('admin.admin_tickets') }}">Tickets</a></li>
                        </ul>
                        <a href="#" class="center brand-logo">{{ config.ctf_name }} Admin</a>
                        <ul class="right hide-on-med-and-down">
                            <li><a href="{{ url_for('admin.admin_logout') }}">Logout ({{ session.admin }})</a></li>
                        </ul>
                        <ul id="nav-mobile" class="side-nav">
                            <li><a href="{{ url_for('admin.admin_dashboard') }}">Dashboard</a></li>
                            <li><a href="{{ url_for('admin.admin_tickets') }}">Tickets</a></li>
                            <hr />
                            <li><a href="{{ url_for('admin.admin_logout') }}">Logout ({{ session.admin }})</a></li>
                        </ul>
                        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons white-text">menu</i></a>
                    </div>
                </div>
            </nav>
        </div>
        {% endif %}
        <div class="container" style="margin-top: 20px;">
            {% block content %}{% endblock %}
        </div>
        {% if config.cdn %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.3/jquery.timeago.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.9.0/vis.min.js"></script>
        {% else %}
        <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='materialize.min.js') }}"></script>
        <script src="{{ url_for('static', filename='timeago.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vis.min.js') }}"></script>
        {% endif %}
        <script src="{{ url_for('static', filename='api.js') }}"></script>
        <script>
        $(function() {
            $("abbr.time[title='1970-01-01 00:00:00']").attr("title", "").removeClass("time").html("None");
            $("abbr.time").timeago();
            $('.button-collapse').sideNav();
        });
        </script>
        <script id="toasts" type="text/javascript">
            {% for message in get_flashed_messages() %}
                Materialize.toast({{ message | tojson }}, 4000);
            {% endfor %}
        </script>
        <script src="/static/sorttable.js"></script>
        {% block postscript %}
        {% endblock %}
    </body>
</html>
