{% extends "base.html" %}
{% block content %}
<div class="center" style="margin-top: 50px;">
    <iframe src="//webchat.freenode.net?nick=tjctf-.....&channels=%23tjctf&prompt=1&uio=MTY9dHJ1ZSYyPXRydWUmOT10cnVlJjExPTI1NiYxMj10cnVl1c" width="647" height="400" frameBorder="0" style="border-width: 0px;" >Browser Incompatible. To access in another tab, go <a href="webchat.freenode.net?nick=tjctf-.....&channels=%23tjctf&prompt=1&uio=MTY9dHJ1ZSYyPXRydWUmOT10cnVlJjExPTI1NiYxMj10cnVl1c" target="_blank" rel="noopener noreferrer">here</a></iframe>
</div>
</div>
{% endblock %}
