{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div class="panel login-panel z-depth-2">
    <div class="form-title blue-text">Login</div>
    <form method="POST">
        <div class="input-field">
            <input id="username" name="username" type="text" />
            <label for="username">Username</label>
        </div>
        <div class="input-field">
            <input id="password" name="password" type="password" />
            <label for="password">Password</label>
            <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}" />
        </div>
        <div class="row no-bot">
            <div class="col s6">
                <a href="{{ url_for('forgot_password') }}">Forgot password?</a>
            </div>
            <div class="col s6">
                <button class="btn waves-effect waves-light right" type="submit">Login</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
