{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block head %}
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
{% block content %}

<div class="row">
    <div class="panel light-blue lighten-1 white-text z-depth-2">
        <p>{{ config.eligibility }} If you do not meet these requirements, you are still welcome to play, but you will not be eligible for prizes.</p>
    </div>
</div>

<div class="panel z-depth-2">
    <div class="form-title blue-text">Register</div>
    <form method="POST">
        <div class="row no-bot">
          <div class="input-field col s12">
              <input class="validate" required maxlength="50" id="username" name="username" type="text" />
              <label for="team-name">Username</label>
          </div>
        </div>
        <div class="row no-bot">
          <div class="input-field col s12">
              <input class="validate" required id="email" name="email" type="email" />
              <label for="email">Email</label>
          </div>
        </div>
        <div class="row no-bot">
            <div class="input-field col s6">
                <input class="validate" required id="password" name="password" type="password" />
                <label for="password">Password</label>
            </div>
            <div class="input-field col s6">
                <input class="validate" required id="confirm_password" name="confirm_password" type="password" />
                <label for="confirm_password">Confirm Password</label>
            </div>
        </div>
        <div class="row no-bot">
          <div class="input-field col s6">
              <select required id="background" name="background">
                <option val="elementary">Elementary School Student</option>
                <option val="high">High School Student</option>
                <option val="university" selected>University Student</option>
                <option val="teacher">Teacher</option>
                <option val="professional">Security Professional</option>
                <option val="hobbyist">CTF Hobbyist(non-student)</option>
                <option val="other">Other</option>
              </select>
              <label for="background">Background</label>
          </div>
          <div class="input-field col s6">
              <select required name="country" id="country">
                  <option value="" disabled selected>Choose your option</option>
                  <option value="Iceland">Iceland</option>
              </select>
              <label>Country</label>
          </div>
        </div>
        <div class="row no-bot">
            <div class="input-field col s6">
                <select required name="tshirt_size" id="tshirt_size">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                    <option value="XXL">XXL</option>
                </select>
                <label>Shirt Size</label>
            </div>
            <div class="input-field col s6">
              <input name="gender" type="radio" id="male" />
              <label for="male">Male</label>
              <input name="gender" type="radio" id="female" />
              <label for="female" style="margin-left: 1rem;">Female</label>
            </div>
        </div>
        <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s6"><a class="active" href="#create-team" id="create-team-btn">Create new Team</a></li>
              <li class="tab col s6"><a href="#join-team" id="join-team-btn">Join existing team</a></li>
            </ul>
          </div>
          <div id="create-team" class="col s12">
            <div class="row no-bot">
              <div class="input-field col s6">
                  <input class="validate" required id="team_name" name="team_name" type="text" />
                  <label for="team_name">Team Name</label>
              </div>
              <div class="input-field col s6">
                  <input class="validate" required id="team_affiliation" name="team_affiliation" type="text" />
                  <label for="team_affiliation">Confirm Password</label>
              </div>
            </div>
          </div>
          <div id="join-team" class="col s12">
            <div class="input-field">
                <input class="validate" id="team_key" name="team_key" type="text" />
                <label for="team_key">Team Key</label>
            </div>
          </div>
        </div>
        <div class="row no-bot">
            <div class="col s12 m6">
                <div class="g-recaptcha" data-sitekey="{{ config.secret.recaptcha_key }}"></div>
            </div>
            <div class="col s12 m6">
                <button class="btn waves-effect waves-light right register-submit" type="submit">Submit</button>
            </div>
        </div>
        <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}" />
    </form>
</div>
{% endblock %}
{% block postscript %}
<script>
$(function(){
  $("#create-team-btn").on('click', function(){
    $("#create-team #team_name").prop('required', true);
    $("#create-team #team_affiliation").prop('required', true);
    $("#join-team #team_key").prop('required', false);
  });
  $("#join-team-btn").on('click', function(){
    $("#create-team #team_name").prop('required', false);
    $("#create-team #team_affiliation").prop('required', false);
    $("#join-team #team_key").prop('required', true);
  });
});
</script>
{% endblock %}
