{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block head %}
<style type="text/css">
    section:not(first-child) {
        margin-top: 15px;
    }
    section:last-child {
        margin-bottom: 30px;
    }
    td:last-child, th:last-child {
        text-align: right;
    }
    form {
        margin-top: 30px;
        margin-bottom: 25px;
    }
    .bigger {
        font-size: medium;
    }
    h4 {
        font-weight: 400;
    }
    th {
        font-weight: normal;
    }
    td, h5 {
        font-weight: 300;
    }
</style>
{% endblock %}
{% block content %}
<h2>{{ user.username }}</h2>
{% if not user.email_confirmed %}
<div class="row">
    <div class="col s12">
        <div class="card red darken-2">
            <div class="card-content white-text">
                <span class="card-title">Email unconfirmed</span>
                <p>It looks like you haven't confirmed your email yet. Check the email you used for registration;
                the system should have sent you an email confirmation key. Paste it below:</p>
                <form action="{{ url_for('confirm_email') }}" method="POST">
                    <div class="input-field">
                        <label for="confirmation-key" class="white-text">Confirmation key</label>
                        <input required id="confirmation-key" name="confirmation_key" type="text" />
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
                    <button class="btn waves-effect waves-light" type="submit">Confirm email</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div id="firstlogin" class="modal">
    <div class="modal-content">
        <h4>Welcome to {{ config.ctf_name }}!</h4>
        <p>Hi, {{ user.username }}! Welcome to {{ config.ctf_name }}, {{ config.tagline }}.</p>

        <p>First off, please check the email you signed up with. You must confirm your account to solve problems. If needed, you can change your Email or resend confirmation on this page.</p>


        <p>We recommend you read the Rules and FAQ. Then, do some Practice to warm up for the competition, join the Chat to meet your fellow competitors and ask questions. The competition will begin soon enough, but in the meanwhile, explore the site!</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Dismiss</a>
    </div>
</div>
{% endblock %}
{% block postscript %}
{% if first_login %}
<script>$("#firstlogin").openModal();</script>
{% endif %}
{% endblock %}
