{% extends "base.html" %}
{% block title %}Open Ticket{% endblock %}
{% block content %}
<h2>Open a Trouble Ticket</h2>
<p>The issue summary should be a one-sentence description of the problem you
are having. Please elaborate on the issue in the description field.</p>

<form method="POST">
    <div class="input-field">
        <input required id="summary" name="summary" type="text" />
        <label for="summary">Issue summary</label>
    </div>
    <div class="input-field">
        <textarea required id="description" name="description" class="materialize-textarea"></textarea>
        <label for="description">Issue description</label>
    </div>
    <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}" />
    <button class="btn waves-effect waves-light" type="submit">Open ticket</button>
</form>
{% endblock %}
