{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div class="panel login-panel z-depth-2">
    <div class="form-title blue-text">Forgot Password</div>
    <form method="POST">
        <div class="input-field">
            <input required id="username" name="username" type="text" />
            <label for="username">Username</label>
        </div>
        <div class="row no-bot">
            <button class="btn waves-effect waves-light right" type="submit">Reset Password</button>
        </div>
        <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}" />
    </form>
</div>
{% endblock %}
