{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div class="panel login-panel z-depth-2">
    <div class="form-title blue-text">Password Reset</div>
    <form method="POST">
        <div class="input-field">
            <input required id="password" name="password" type="password" />
            <label for="password">Password</label>
        </div>
        <div class="input-field">
            <input required id="confirm_password" name="confirm_password" type="password" />
            <label for="confirm_password">Confirm Password</label>
        </div>
        <div class="row no-bot">
            <button class="btn waves-effect waves-light right" type="submit">Login</button>
        </div>
        <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}" />
    </form>
</div>
{% endblock %}
