{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block head %}
<style type="text/css">
    section:not(first-child) {
        margin-top: 15px;
    }
    section:last-child {
        margin-bottom: 30px;
    }
    td:last-child, th:last-child {
        text-align: right;
    }
    form {
        margin-top: 30px;
        margin-bottom: 25px;
    }
    .bigger {
        font-size: medium;
    }
    h4 {
        font-weight: 400;
    }
    th {
        font-weight: normal;
    }
    td, h5 {
        font-weight: 300;
    }
</style>
{% endblock %}
{% block content %}
<div class="page-title-wrapper">
    <div class="page-title-tag teal teal-text">_</div>
    <div class="page-title white">{{ user.username }}</div>
</div>

{% if not user.email_confirmed %}
  <div class="row">
      <div class="col s12">
          <div class="card red darken-1">
              <div class="card-content white-text">
                  <span class="card-title">Email unconfirmed</span>
                  <p>It looks like you haven't confirmed your email yet. Check the email you used for registration;
                  the system should have sent you a confirmation link</p>
              </div>
          </div>
      </div>
  </div>
{% endif %}
<div class="card">
    <div class="card-header purple">Edit Information</div>
    <div class="card-content">
        <form method="POST">
            <div class="row no-bot">
                <div class="input-field col s12">
                    <input class="validate" required maxlength="50" id="username" name="username" type="text" value="{{ user.username }}" />
                    <label for="team-name">Username</label>
                </div>
            </div>
            <div class="row no-bot">
                <div class="input-field col s12">
                    <input class="validate" required id="email" name="email" type="email" value="{{ user.email }}" />
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row no-bot">
                <div class="input-field col s6">
                    <input class="validate" id="password" name="password" type="password" />
                    <label for="password">Password</label>
                </div>
                <div class="input-field col s6">
                    <input class="validate" id="confirm_password" name="confirm_password" type="password" />
                    <label for="confirm_password">Confirm Password</label>
                </div>
            </div>
            <div class="row no-bot">
                <div class="input-field col s6">
                    <select required id="background" name="background">
                        {{select.genoption(select.Backgrounds, selected=user.background)|safe}}
                    </select>
                    <label for="background">Background</label>
                </div>
                <div class="input-field col s6">
                    <select required name="country" id="country">
                        {{select.genoption(select.Countries, selected=user.country)|safe}}
                    </select>
                    <label>Country</label>
                </div>
            </div>
            <div id="prize-info" class="row no-bot" {% if not user.eligible() %} style="display: none;"{% endif %}>
                <div class="input-field col s6">
                    <select required name="tshirt_size" id="tshirt_size">
                        {{select.genoption(select.TShirts, selected=user.tshirt_size)|safe}}
                    </select>
                    <label>Shirt Size</label>
                </div>
                <div class="input-field col s6">
                    {% if user.gender == 'M' %}
                    <input name="gender" type="radio" id="male" value="M" checked="checked" />
                    <label for="male">Male</label>
                    <input name="gender" type="radio" id="female" value="F" />
                    <label for="female" style="margin-left: 1rem;">Female</label>
                    {% elif user.gender == 'F' %}
                    <input name="gender" type="radio" id="male" value="M" />
                    <label for="male">Male</label>
                    <input name="gender" type="radio" id="female" value="F" checked="checked" />
                    <label for="female" style="margin-left: 1rem;">Female</label>
                    {% endif %}
                </div>
            </div>
            <div class="row no-bot">
                <button class="btn waves-effect waves-light right register-submit" type="submit">Update</button>
            </div>
            <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}" />
        </form>
    </div>
</div>
<div id="firstlogin" class="modal">
    <div class="modal-content">
        <h4>Welcome to {{ config.ctf_name }}!</h4>
        <p>Hi, {{ user.username }}! Welcome to {{ config.ctf_name }}, {{ config.tagline }}.</p>

        <p>First off, please check the email you signed up with. You must confirm your account to solve problems. If needed, you can change your Email or resend confirmation on this page.</p>


        <p>The competition hasn't started yet, but while you wait, we recommend you read the <a href="https://icec.tf/about">Rules</a> and <a href="https://icec.tf/faq">FAQ</a>. Then, do some practice to warm up for the competition, join the Chat to meet your fellow competitors and ask questions. The competition will begin soon enough, but in the meanwhile, explore the site!</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Dismiss</a>
    </div>
</div>
{% endblock %}
{% block postscript %}
{% if first_login %}
<script>$("#firstlogin").openModal();</script>
{% endif %}
<script>
$(function(){
  $("#country").change(function(e) {
    if($("#country").val() == "ISL"){
      $("#prize-info").show("slow");
      $("#tshirt_size").prop('required', true);
      $("#male").prop('required', true);
    } else {
      $("#prize-info").hide("slow");
      $("#tshirt_size").prop('required', false);
      $("#male").prop('required', false);
    }
  });
});
</script>
{% endblock %}
